//------------------ Header ------------------
.logo-image {
  width: 200px;
}

.call-to-action a {
  padding: 10px 18px;

  img {
    width: 22px;
  }
}

//------------------- Footer -------------------
.footer-section {
  background-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-section-heading {
  font-size: 50px;
}

.footer-logo-slogan {
  border-bottom: 2px solid var(--whiteTransparent);
}

.footer-logo {
  width: 450px;
}

.footer-text-title {
  color: var(--white);
  opacity: 70%;
  font-size: 22px;
}

.footer-text-info {
  font-size: 28px;
  color: var(--white);
}

.legal-compliance-wrapper {
  width: 80%;
}

.legal-compliance {
  border-left: 2px solid var(--whiteTransparent);
}

.copyright-text {
  font-size: 9.5vw;
  color: var(--white);
  opacity: 40%;
}


//--------------- Media Queries -----------------
@media (max-width: 1440px) {
  .logo-image {
    width: 170px;
  }

  //-------- Footer  -------
  .footer-logo {
    width: 330px;
  }
  .footer-section-heading {
    font-size: 32px;
  }
  .footer-text-title {
    font-size: 16px;
  }
  .footer-text-info {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .logo-image {
    width: 160px;
  }

  //--------- Footer ------
  .copyright-text {
    font-size: 9.2vw;
  }
}

@media (max-width: 576px) {
  .logo-image {
    width: 150px;
  }

  //------- footer -------
  .footer-logo {
    width: 260px;
  }
  .footer-section-heading {
    font-size: 28px;
    margin-bottom: 20px !important;
  }
  .contact-information address {
    border-bottom: 2px solid var(--whiteTransparent);
    padding-bottom: 20px;
  }
  .legal-compliance-wrapper {
    padding-top: 10px;
  }
  .legal-compliance-wrapper a:last-child {
    padding-left: 0;
  }
  .footer-text-info {
    font-size: 16px;
  }
}
